{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrivia API - Séparation UI/LLM",
    "description": "API REST séparée : endpoints UI (interface utilisateur) et LLM (intelligence artificielle)",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://scrivia.app",
      "description": "Serveur de production Scrivia"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "UI - Authentification",
      "description": "Gestion de l'authentification et profil utilisateur (UI uniquement)"
    },
    {
      "name": "UI - Notes",
      "description": "Gestion des notes depuis l'interface utilisateur"
    },
    {
      "name": "UI - Export",
      "description": "Export de données et gestion des fichiers"
    },
    {
      "name": "UI - Whisper",
      "description": "Enregistrement et transcription audio"
    },
    {
      "name": "UI - API Keys",
      "description": "Gestion des clés API utilisateur"
    },
    {
      "name": "LLM - Notes",
      "description": "Gestion des notes pour les LLM et agents IA"
    },
    {
      "name": "LLM - Dossiers",
      "description": "Gestion des dossiers pour les LLM et agents IA"
    },
    {
      "name": "LLM - Classeurs",
      "description": "Gestion des classeurs pour les LLM et agents IA"
    },
    {
      "name": "LLM - Recherche",
      "description": "Recherche textuelle pour les LLM et agents IA"
    }
  ],
  "paths": {
    "/api/ui/notes/recent": {
      "get": {
        "summary": "Récupérer les notes récentes (UI)",
        "description": "Récupère les notes les plus récemment modifiées pour l'interface utilisateur",
        "tags": [
          "UI - Notes"
        ],
        "operationId": "getRecentNotesUI",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Nombre maximum de notes à retourner",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notes récentes récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "notes"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/ui/export": {
      "post": {
        "summary": "Exporter les données (UI)",
        "description": "Exporte les données de l'utilisateur dans différents formats depuis l'interface",
        "tags": [
          "UI - Export"
        ],
        "operationId": "exportDataUI",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "format"
                ],
                "properties": {
                  "format": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "json",
                      "html"
                    ],
                    "description": "Format d'export souhaité"
                  },
                  "classeur_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Limiter l'export à un classeur spécifique"
                  },
                  "include_metadata": {
                    "type": "boolean",
                    "description": "Inclure les métadonnées dans l'export",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export généré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "export_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL de téléchargement de l'export"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date d'expiration du lien de téléchargement"
                    }
                  },
                  "required": [
                    "success",
                    "export_url",
                    "expires_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Format d'export invalide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Format d'export non supporté"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/ui/whisper": {
      "post": {
        "summary": "Enregistrer et transcrire l'audio (UI)",
        "description": "Enregistre l'audio et le transcrit en texte depuis l'interface utilisateur",
        "tags": [
          "UI - Whisper"
        ],
        "operationId": "whisperAudioUI",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "audio"
                ],
                "properties": {
                  "audio": {
                    "type": "string",
                    "format": "binary",
                    "description": "Fichier audio à transcrire"
                  },
                  "language": {
                    "type": "string",
                    "description": "Langue de l'audio (optionnel, détection automatique par défaut)",
                    "example": "fr"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio transcrit avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "transcription": {
                      "type": "string",
                      "description": "Texte transcrit de l'audio"
                    },
                    "language": {
                      "type": "string",
                      "description": "Langue détectée"
                    },
                    "duration": {
                      "type": "number",
                      "description": "Durée de l'audio en secondes"
                    }
                  },
                  "required": [
                    "success",
                    "transcription"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Fichier audio invalide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Format audio non supporté"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/ui/stats": {
      "get": {
        "summary": "Récupérer les statistiques utilisateur (UI)",
        "description": "Récupère les statistiques globales de l'utilisateur pour l'interface",
        "tags": [
          "UI - Authentification"
        ],
        "operationId": "getUserStatsUI",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Statistiques récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "total_notes": {
                          "type": "integer",
                          "description": "Nombre total de notes"
                        },
                        "total_classeurs": {
                          "type": "integer",
                          "description": "Nombre total de classeurs"
                        },
                        "total_folders": {
                          "type": "integer",
                          "description": "Nombre total de dossiers"
                        },
                        "published_notes": {
                          "type": "integer",
                          "description": "Nombre de notes publiées"
                        },
                        "total_content_size": {
                          "type": "integer",
                          "description": "Taille totale du contenu en octets"
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "stats"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/ui/me": {
      "get": {
        "summary": "Récupérer l'utilisateur authentifié (UI)",
        "description": "Récupère les informations du profil de l'utilisateur pour l'interface",
        "tags": [
          "UI - Authentification"
        ],
        "operationId": "getAuthenticatedUserUI",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profil utilisateur récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Indique si l'opération a réussi"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User",
                      "description": "Informations du profil utilisateur"
                    }
                  },
                  "required": [
                    "success",
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/notes": {
      "get": {
        "summary": "Lister toutes les notes (LLM)",
        "description": "Récupère la liste complète des notes pour les LLM et agents IA",
        "tags": [
          "LLM - Notes"
        ],
        "operationId": "listNotesLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "classeur_id",
            "in": "query",
            "description": "Filtrer par classeur",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "Filtrer par dossier",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Nombre maximum de notes à retourner",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des notes récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de notes"
                    }
                  },
                  "required": [
                    "success",
                    "notes"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Créer une nouvelle note (LLM)",
        "description": "Crée une nouvelle note pour les LLM et agents IA",
        "tags": [
          "LLM - Notes"
        ],
        "operationId": "createNoteLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source_title",
                  "markdown_content"
                ],
                "properties": {
                  "source_title": {
                    "type": "string",
                    "description": "Titre de la note",
                    "maxLength": 255
                  },
                  "markdown_content": {
                    "type": "string",
                    "description": "Contenu de la note en format Markdown"
                  },
                  "folder_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID du dossier parent"
                  },
                  "classeur_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID du classeur parent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "note": {
                      "$ref": "#/components/schemas/Note"
                    }
                  },
                  "required": [
                    "success",
                    "note"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Données invalides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Le titre et le contenu sont requis"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/notes/{ref}": {
      "get": {
        "summary": "Récupérer une note spécifique (LLM)",
        "description": "Récupère les détails d'une note par son ID ou slug pour les LLM",
        "tags": [
          "LLM - Notes"
        ],
        "operationId": "getNoteLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "ID ou slug de la note",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "note": {
                      "$ref": "#/components/schemas/Note"
                    }
                  },
                  "required": [
                    "success",
                    "note"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Note non trouvée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Note non trouvée"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Modifier une note (LLM)",
        "description": "Met à jour le contenu d'une note pour les LLM et agents IA",
        "tags": [
          "LLM - Notes"
        ],
        "operationId": "updateNoteLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "ID ou slug de la note",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_title": {
                    "type": "string",
                    "description": "Nouveau titre de la note",
                    "maxLength": 255
                  },
                  "markdown_content": {
                    "type": "string",
                    "description": "Nouveau contenu de la note en format Markdown"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note modifiée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "note": {
                      "$ref": "#/components/schemas/Note"
                    }
                  },
                  "required": [
                    "success",
                    "note"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Données invalides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Données invalides"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Note non trouvée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Note non trouvée"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer une note (LLM)",
        "description": "Supprime définitivement une note pour les LLM et agents IA",
        "tags": [
          "LLM - Notes"
        ],
        "operationId": "deleteNoteLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "ID ou slug de la note",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note supprimée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Note supprimée avec succès"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Note non trouvée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Note non trouvée"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/classeurs": {
      "get": {
        "summary": "Lister tous les classeurs (LLM)",
        "description": "Récupère la liste complète des classeurs pour les LLM et agents IA",
        "tags": [
          "LLM - Classeurs"
        ],
        "operationId": "listClasseursLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des classeurs récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "classeurs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Classeur"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "classeurs"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/classeur/{ref}/tree": {
      "get": {
        "summary": "Obtenir l'arborescence d'un classeur (LLM)",
        "description": "Récupère l'arborescence complète d'un classeur pour les LLM",
        "tags": [
          "LLM - Classeurs"
        ],
        "operationId": "getClasseurTreeLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "ID ou slug du classeur",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arborescence récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClasseurTreeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Classeur non trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Classeur non trouvé"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/folders": {
      "get": {
        "summary": "Lister tous les dossiers (LLM)",
        "description": "Récupère la liste complète des dossiers pour les LLM et agents IA",
        "tags": [
          "LLM - Dossiers"
        ],
        "operationId": "listFoldersLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "classeur_id",
            "in": "query",
            "description": "Filtrer par classeur",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des dossiers récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "folders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Folder"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "folders"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/folder/{ref}/tree": {
      "get": {
        "summary": "Obtenir l'arborescence d'un dossier (LLM)",
        "description": "Récupère l'arborescence d'un dossier pour les LLM",
        "tags": [
          "LLM - Dossiers"
        ],
        "operationId": "getFolderTreeLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "ID ou slug du dossier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arborescence récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderTreeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Dossier non trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Dossier non trouvé"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/llm/search": {
      "get": {
        "summary": "Rechercher dans le contenu (LLM)",
        "description": "Effectue une recherche textuelle pour les LLM et agents IA",
        "tags": [
          "LLM - Recherche"
        ],
        "operationId": "searchContentLLM",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Terme de recherche",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "classeur_id",
            "in": "query",
            "description": "Limiter la recherche à un classeur spécifique",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Nombre maximum de résultats",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultats de recherche",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "query": {
                      "type": "string",
                      "description": "Terme de recherche utilisé"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats"
                    }
                  },
                  "required": [
                    "success",
                    "query",
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requête de recherche invalide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Le terme de recherche est requis"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Clé API pour l'authentification. Cette clé doit être incluse dans l'en-tête X-API-Key de chaque requête."
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "description": "Profil utilisateur authentifié",
        "required": [
          "id",
          "email",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique de l'utilisateur"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse email de l'utilisateur",
            "example": "user@example.com"
          },
          "first_name": {
            "type": "string",
            "description": "Prénom de l'utilisateur"
          },
          "last_name": {
            "type": "string",
            "description": "Nom de famille de l'utilisateur"
          },
          "username": {
            "type": "string",
            "description": "Nom d'utilisateur unique"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri",
            "description": "URL de l'avatar de l'utilisateur"
          },
          "is_active": {
            "type": "boolean",
            "description": "Indique si le compte est actif"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création du compte"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification du profil"
          }
        }
      },
      "Classeur": {
        "type": "object",
        "description": "Un classeur est un organisateur de notes et dossiers",
        "required": [
          "id",
          "name",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant unique du classeur"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Nom du classeur",
            "example": "Mes Notes"
          },
          "slug": {
            "type": "string",
            "description": "Slug URL-friendly du classeur",
            "example": "mes-notes"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "Description optionnelle du classeur"
          },
          "emoji": {
            "type": "string",
            "description": "Emoji représentant le classeur",
            "example": "📝"
          },
          "color": {
            "type": "string",
            "description": "Couleur d'accent du classeur",
            "example": "#2994ff"
          },
          "position": {
            "type": "integer",
            "minimum": 0,
            "description": "Position d'ordre du classeur"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création du classeur"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification"
          }
        }
      },
      "Note": {
        "type": "object",
        "description": "Une note ou article dans le système",
        "required": [
          "id",
          "source_title",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "source_title": {
            "type": "string",
            "description": "Titre de la note"
          },
          "slug": {
            "type": "string",
            "description": "Slug URL-friendly de la note"
          },
          "folder_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du dossier parent"
          },
          "classeur_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du classeur parent"
          },
          "markdown_content": {
            "type": "string",
            "description": "Contenu de la note en format Markdown"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Folder": {
        "type": "object",
        "description": "Un dossier organisateur dans l'arborescence",
        "required": [
          "id",
          "name",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Nom du dossier"
          },
          "slug": {
            "type": "string",
            "description": "Slug URL-friendly du dossier"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du dossier parent (null pour la racine)"
          },
          "classeur_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du classeur parent"
          },
          "position": {
            "type": "integer",
            "description": "Position d'ordre dans le dossier parent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "description": "Résultat de recherche",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "note",
              "folder"
            ],
            "description": "Type du résultat"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID de l'élément"
          },
          "title": {
            "type": "string",
            "description": "Titre ou nom de l'élément"
          },
          "slug": {
            "type": "string",
            "description": "Slug de l'élément"
          },
          "classeur_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du classeur parent"
          },
          "score": {
            "type": "number",
            "description": "Score de pertinence de la recherche"
          },
          "excerpt": {
            "type": "string",
            "description": "Extrait du contenu correspondant"
          }
        }
      },
      "ClasseurTreeResponse": {
        "type": "object",
        "description": "Réponse d'arborescence d'un classeur",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indique si la récupération a réussi"
          },
          "classeur": {
            "$ref": "#/components/schemas/Classeur"
          },
          "tree": {
            "type": "object",
            "description": "Arborescence du classeur",
            "properties": {
              "folders": {
                "type": "array",
                "description": "Liste des dossiers",
                "items": {
                  "$ref": "#/components/schemas/FolderTreeItem"
                }
              },
              "notes": {
                "type": "array",
                "description": "Liste des notes",
                "items": {
                  "$ref": "#/components/schemas/NoteTreeItem"
                }
              }
            }
          }
        }
      },
      "FolderTreeResponse": {
        "type": "object",
        "description": "Réponse d'arborescence d'un dossier",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indique si la récupération a réussi"
          },
          "folder": {
            "$ref": "#/components/schemas/Folder"
          },
          "tree": {
            "type": "object",
            "description": "Arborescence du dossier",
            "properties": {
              "subfolders": {
                "type": "array",
                "description": "Liste des sous-dossiers",
                "items": {
                  "$ref": "#/components/schemas/FolderTreeItem"
                }
              },
              "notes": {
                "type": "array",
                "description": "Liste des notes",
                "items": {
                  "$ref": "#/components/schemas/NoteTreeItem"
                }
              }
            }
          }
        }
      },
      "FolderTreeItem": {
        "type": "object",
        "description": "Élément d'arborescence d'un dossier",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID du dossier"
          },
          "name": {
            "type": "string",
            "description": "Nom du dossier"
          },
          "slug": {
            "type": "string",
            "description": "Slug du dossier"
          },
          "position": {
            "type": "integer",
            "description": "Position du dossier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création"
          },
          "subfolders": {
            "type": "array",
            "description": "Sous-dossiers (récursif)",
            "items": {
              "$ref": "#/components/schemas/FolderTreeItem"
            }
          },
          "notes": {
            "type": "array",
            "description": "Notes du dossier",
            "items": {
              "$ref": "#/components/schemas/NoteTreeItem"
            }
          }
        }
      },
      "NoteTreeItem": {
        "type": "object",
        "description": "Élément d'arborescence d'une note",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID de la note"
          },
          "source_title": {
            "type": "string",
            "description": "Titre de la note"
          },
          "slug": {
            "type": "string",
            "description": "Slug de la note"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date de modification"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentification requise - Clé API manquante/invalide",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Authentification requise - Clé API valide nécessaire"
                },
                "code": {
                  "type": "string",
                  "example": "AUTH_REQUIRED"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Permissions insuffisantes pour cette ressource",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Permissions insuffisantes"
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Erreur interne du serveur",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Erreur lors de la récupération des données"
                }
              }
            }
          }
        }
      }
    }
  }
}
