{
  "openapi": "3.1.0",
  "info": {
    "title": "API V2 Abrège - Complète",
    "description": "API V2 moderne et robuste pour la gestion de notes, classeurs, dossiers et agents spécialisés avec support LLM. Authentification par clé API uniquement.\n\n**Conventions pour clients automatisés, outils et LLM (évite les 422 inutiles)**\n- **Types JSON** : `null` en JSON est la valeur nulle (sans guillemets). Ne jamais envoyer la **chaîne** `\"null\"` ni `\"undefined\"` à la place d’un UUID ou d’une absence de valeur — ce ne sont pas des UUID valides.\n- **Champs optionnels « vides »** : pour « pas d’image d’en-tête » ou « pas de dossier », **omettre** le champ ou utiliser `null` JSON. Une chaîne vide `\"\"` pour une URL ou un identifiant est **invalide** et provoque une erreur de validation.\n- **URLs (`header_image`, etc.)** : si aucune image, **ne pas inclure** `header_image` dans le corps. Une URL doit être absolue (`https://...`) et conforme au format URI.\n- **UUID** : les champs `folder_id`, `target_folder_id`, etc. attendent un UUID v4 (format `xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`) ou `null` / omission selon le endpoint — pas de texte libre.\n\n**Édition du markdown (agents / LLM) — flux recommandé**\n1. **Table des matières** : appeler **getNoteTOC** (`GET /note/{ref}/table-of-contents`) **avant** de cibler une section par slug, sauf si la réponse TOC (avec slugs exacts) est déjà dans le même tour de dialogue.\n2. **Édition par section** : **editNoteSection** (`POST /note/{ref}/sections:edit`) — le champ `section_slug` doit être la valeur **slug** renvoyée par getNoteTOC (titres dédupliqués → slugs du type `foo`, `foo-1`).\n3. **Édition par opérations** : **applyContentOperations** (`POST /note/{ref}/content:apply`) — si `target.type` = `heading`, fournir `target.heading.heading_id` = slug TOC, **ou** un `path` cohérent ; au moins l’un des deux. Le champ `where` est **optionnel** (validation Zod). `ops` : 1 à 50 opérations.\n4. **Titre** : ne pas ajouter de `# …` H1 dans le markdown ; le titre affiché est `source_title`.",
    "version": "2.0.0",
    "contact": {
      "name": "Support Abrège",
      "email": "support@scrivia.app",
      "url": "https://docs.scrivia.app"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://scrivia.app/api/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/note/{ref}": {
      "get": {
        "operationId": "getNote",
        "summary": "Récupérer une note ou une section",
        "description": "Récupère une note par ID ou slug. **fields** : all | content | metadata. **section** : filtre sur une section par **slug** (idéalement le `slug` issu de **getNoteTOC**) ou titre — retourne `section` avec body, char_count, etc. Sans `section`, note complète. **Lire avant d’éditer** : pour connaître les slugs fiables, utiliser **getNoteTOC** ; le paramètre `section` ici doit correspondre à un slug valide pour éviter 404.",
        "tags": [
          "Notes"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la note (UUID ou slug)"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "content",
                "metadata"
              ],
              "default": "all"
            },
            "description": "Champs à retourner : all (défaut), content (contenu + socle), metadata (métadonnées sans markdown)"
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Slug ou titre d'une section (voir table-of-contents). Si fourni, la réponse contient uniquement note (id, title, updated_at) et section (title, slug, level, heading_line, body, char_count). Si la section est introuvable : 404 avec available_sections."
          }
        ],
        "responses": {
          "200": {
            "description": "Note ou section récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "note": {
                          "type": "object",
                          "description": "Données de la note (champs selon fields, ou id/title/updated_at si section demandée)"
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "all",
                            "content",
                            "metadata"
                          ],
                          "description": "Mode effectif (absent si section demandée)"
                        },
                        "section": {
                          "type": "object",
                          "description": "Présent uniquement si ?section= a été fourni et la section existe",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "level": {
                              "type": "integer"
                            },
                            "heading_line": {
                              "type": "string"
                            },
                            "body": {
                              "type": "string"
                            },
                            "char_count": {
                              "type": "integer"
                            }
                          }
                        },
                        "cached": {
                          "type": "boolean",
                          "description": "True si la réponse vient du cache embed (non utilisé en mode section)"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Note non trouvée, ou section introuvable (avec available_sections pour auto-correction)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "available_sections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "level": {
                            "type": "integer"
                          }
                        }
                      },
                      "description": "Liste des sections disponibles (présent uniquement si ?section= fourni et section introuvable)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/note/create": {
      "post": {
        "operationId": "createNote",
        "summary": "Créer une nouvelle note",
        "description": "Créer une note dans un classeur. Ne pas inclure de H1 dans le contenu : `source_title` sert de titre.\n\n**Comportement** : `notebook_id` optionnel — omis, chaîne vide ou `null` JSON → classeur Quicknotes (défaut). `folder_id` optionnel — `null` JSON ou champ omis → note à la **racine** du classeur cible ; si `folder_id` est un UUID valide sans `notebook_id`, le classeur est déduit du dossier.\n\n**Agents (erreurs fréquentes à éviter)** : ne pas envoyer `\"folder_id\": \"null\"` (chaîne) — utiliser `\"folder_id\": null` ou retirer la clé. Ne pas envoyer `\"header_image\": \"\"` — retirer la clé s’il n’y a pas d’URL d’image.",
        "tags": [
          "Notes"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Titre de la note (obligatoire)"
                  },
                  "notebook_id": {
                    "type": "string",
                    "description": "Classeur cible : **UUID ou slug** du classeur (notebook). Optionnel : si omis, chaîne vide ou `null` JSON → création dans le classeur **Quicknotes** (défaut). Ne pas envoyer la chaîne littérale `\"null\"` comme identifiant."
                  },
                  "markdown_content": {
                    "type": "string",
                    "default": "",
                    "description": "Contenu markdown de la note (pas de H1 : le titre est source_title)"
                  },
                  "content": {
                    "type": "string",
                    "description": "Alias optionnel accepté par l’API au même titre que `markdown_content` (le schéma Zod fusionne les deux ; ne pas dupliquer les deux avec des textes différents)."
                  },
                  "folder_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Dossier parent : **UUID** du dossier. Pour une note à la **racine** du classeur : utiliser `null` en JSON ou **omettre** ce champ. **Interdit** : la chaîne `\"null\"` (ce n’est pas un UUID) — provoque 422."
                  },
                  "header_image": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL absolue de l’image d’en-tête (https://…). **Si aucune image** : omettre ce champ entièrement. Ne pas envoyer une chaîne de longueur zéro pour ce champ — provoque 422 (une chaîne vide n’est pas une URI valide)."
                  },
                  "is_canva_draft": {
                    "type": "boolean",
                    "default": false,
                    "description": "True pour un brouillon Canva (optionnel)"
                  },
                  "source_type": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "plan",
                      "html",
                      "qcm"
                    ],
                    "description": "Type of note rendering. 'plan' = structured plan with checkboxes (read-only by default), 'html' = raw HTML rendering, 'qcm' = interactive questionnaire. Default is markdown."
                  }
                },
                "required": [
                  "source_title"
                ]
              },
              "example": {
                "source_title": "Mon titre de note",
                "notebook_id": "ecb30f8f-dce7-4a48-9ffd-88985ff57d3f",
                "markdown_content": "## Section\n\nContenu…",
                "folder_id": null,
                "source_type": "markdown"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Note"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Payload invalide : champs incorrects ou types invalides (voir details[].field et details[].message). Fréquent pour les agents : chaîne \"null\" à la place d’un UUID, ou header_image=\"\" au lieu d’omettre le champ.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/note/{ref}/update": {
      "put": {
        "operationId": "updateNote",
        "summary": "Mettre à jour une note",
        "description": "Met à jour les métadonnées et/ou le contenu d'une note. Utiliser `markdown_content` pour le corps (pas de H1 : `source_title` est le titre).\n\n**Agents** : pour retirer l’image d’en-tête, envoyer `header_image: null` (JSON), pas une chaîne vide. Pour `folder_id`, utiliser un UUID valide, `null`, ou omettre — jamais la chaîne `\"null\"`.",
        "tags": [
          "Notes"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la note (UUID ou slug)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Titre de la note"
                  },
                  "markdown_content": {
                    "type": "string",
                    "description": "Contenu markdown"
                  },
                  "html_content": {
                    "type": "string",
                    "description": "Contenu HTML (optionnel)"
                  },
                  "header_image": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true,
                    "description": "URL absolue de l’image d’en-tête. Pour **supprimer** l’image : `null` JSON. Pour **modifier** : URL complète. Éviter `\"\"` (chaîne vide) — préférer `null` pour effacer."
                  },
                  "header_image_offset": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Position verticale du crop (0–100), optionnel"
                  },
                  "header_image_blur": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5,
                    "description": "Flou d’arrière-plan (0–5), optionnel"
                  },
                  "header_image_overlay": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5,
                    "description": "Assombrissement de l’overlay (0–5), optionnel"
                  },
                  "header_title_in_image": {
                    "type": "boolean",
                    "description": "Afficher le titre dans la zone image, optionnel"
                  },
                  "wide_mode": {
                    "type": "boolean"
                  },
                  "a4_mode": {
                    "type": "boolean"
                  },
                  "slash_lang": {
                    "type": "string",
                    "enum": [
                      "fr",
                      "en"
                    ]
                  },
                  "font_family": {
                    "type": "string"
                  },
                  "folder_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Déplacer la note vers un dossier : UUID du dossier, ou `null` / omettre selon logique métier. **Interdit** : chaîne `\"null\"`."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "source_type": {
                    "type": "string",
                    "enum": [
                      "markdown",
                      "plan",
                      "html",
                      "qcm"
                    ],
                    "description": "Type of note rendering. 'plan' = structured plan with checkboxes, 'html' = raw HTML, 'qcm' = interactive questionnaire."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note mise à jour avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Note"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Payload invalide (voir details par champ)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/note/recent": {
      "get": {
        "operationId": "getRecentNotes",
        "summary": "Notes récentes",
        "description": "Récupère les notes récemment modifiées de l'utilisateur",
        "tags": [
          "Notes"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Nombre maximum de notes à retourner"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des notes récentes",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Note"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/canvas/{ref}/ops:stream": {
      "post": {
        "operationId": "canvasStreamOps",
        "summary": "Streaming d'opérations canvas",
        "description": "Envoie 1-3 opérations atomiques pour édition collaborative canvas. Retourne 202 Accepted. Résultats métier (ACK/CONFLICT) via SSE /ops:listen.",
        "tags": [
          "Canvas"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la note (UUID ou slug)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID unique de l'opération"
                        },
                        "op_id": {
                          "type": "string",
                          "description": "ID d'opération pour idempotence"
                        },
                        "client_version": {
                          "type": "string",
                          "description": "ETag client pour version"
                        },
                        "timestamp": {
                          "type": "integer",
                          "description": "Timestamp client"
                        },
                        "action": {
                          "type": "string",
                          "enum": [
                            "insert",
                            "replace",
                            "delete",
                            "upsert_section"
                          ],
                          "description": "Type d'opération"
                        },
                        "target": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "heading",
                                "regex",
                                "position",
                                "anchor"
                              ]
                            },
                            "heading": {
                              "type": "object",
                              "properties": {
                                "path": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "level": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 6
                                },
                                "heading_id": {
                                  "type": "string"
                                }
                              }
                            },
                            "regex": {
                              "type": "object",
                              "properties": {
                                "pattern": {
                                  "type": "string",
                                  "maxLength": 1000
                                },
                                "flags": {
                                  "type": "string",
                                  "maxLength": 10
                                },
                                "nth": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "pattern"
                              ]
                            },
                            "position": {
                              "type": "object",
                              "properties": {
                                "mode": {
                                  "type": "string",
                                  "enum": [
                                    "offset",
                                    "start",
                                    "end"
                                  ]
                                },
                                "offset": {
                                  "type": "integer",
                                  "minimum": 0
                                }
                              },
                              "required": [
                                "mode"
                              ]
                            },
                            "anchor": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "enum": [
                                    "doc_start",
                                    "doc_end",
                                    "after_toc",
                                    "before_first_heading"
                                  ]
                                }
                              },
                              "required": [
                                "name"
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ]
                        },
                        "where": {
                          "type": "string",
                          "enum": [
                            "before",
                            "after",
                            "inside_start",
                            "inside_end",
                            "at",
                            "replace_match"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "maxLength": 100000
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "ensure_heading": {
                              "type": "boolean"
                            },
                            "surround_with_blank_lines": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 3
                            },
                            "dedent": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "op_id",
                        "client_version",
                        "timestamp",
                        "action",
                        "target",
                        "where"
                      ]
                    }
                  },
                  "canvas_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID session canvas (optionnel)"
                  }
                },
                "required": [
                  "ops"
                ]
              },
              "examples": {
                "insert": {
                  "summary": "Insertion simple",
                  "value": {
                    "ops": [
                      {
                        "id": "op-1",
                        "op_id": "uuid-1",
                        "client_version": "W/\"etag123\"",
                        "timestamp": 1234567890,
                        "action": "insert",
                        "target": {
                          "type": "position",
                          "position": {
                            "mode": "end"
                          }
                        },
                        "where": "at",
                        "content": "Nouveau contenu"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Opérations acceptées. Résultats via SSE /ops:listen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean",
                      "example": true
                    },
                    "ops_count": {
                      "type": "integer"
                    },
                    "duration": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation échouée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Note ou canvas non trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/canvas/{ref}/ops:listen": {
      "get": {
        "operationId": "canvasListenOps",
        "summary": "Écouter événements canvas (SSE)",
        "description": "Stream SSE pour événements canvas temps réel. Source de vérité unique pour ACK/CONFLICT.",
        "tags": [
          "Canvas"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la note (UUID ou slug)"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "JWT token (pour EventSource)"
          }
        ],
        "responses": {
          "200": {
            "description": "Stream SSE actif",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "example": "event: ack\ndata: {\"event\":\"ack\",\"op_id\":\"uuid\",\"status\":\"applied\"}\n\n"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "text/event-stream"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            }
          },
          "401": {
            "description": "Non authentifié",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Note non trouvée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/note/{ref}/content:apply": {
      "post": {
        "operationId": "applyContentOperations",
        "summary": "Appliquer des opérations de contenu",
        "description": "Édition fine du markdown par **opérations** (alternative à **editNoteSection** pour regex, ancres, positions).\n\n**Avant de cibler une section par titre** : appeler **getNoteTOC** (`GET /note/{ref}/table-of-contents`) et utiliser le champ **slug** comme `target.heading.heading_id` (même source que pour `section_slug` dans sections:edit). Ne pas inventer un slug à partir du libellé du titre.\n\n**Schéma Zod** : chaque opération a `id`, `action`, `target` ; **`where` est optionnel** (défaut implicite selon le cas). Tableaux `ops` : **1 à 50** éléments. `transaction` : `all_or_nothing` | `best_effort` (défaut `all_or_nothing`). `return` : `content` | `diff` | `none` (défaut `diff`).\n\nSi canva ouvert, streaming possible ; la note est persistée en DB. Si cible heading introuvable, la réponse peut inclure `available_headings` pour correction. **Pas de ligne `#` H1 dans le contenu inséré** ; le titre document est `source_title`.",
        "tags": [
          "Notes"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la note (UUID ou slug)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID unique de l'opération"
                        },
                        "action": {
                          "type": "string",
                          "enum": [
                            "insert",
                            "replace",
                            "delete",
                            "upsert_section"
                          ],
                          "description": "Type d'opération à effectuer"
                        },
                        "target": {
                          "type": "object",
                          "description": "Cible de l’opération. Renseigner le sous-objet qui correspond à **type** (heading, regex, position ou anchor) — c’est le discriminant logique côté API.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "heading",
                                "regex",
                                "position",
                                "anchor"
                              ],
                              "description": "Type de cible : **heading** (slug TOC ou path), **regex**, **position** (offset / début / fin), **anchor** (doc_start, etc.)"
                            },
                            "heading": {
                              "type": "object",
                              "description": "Présent si target.type = heading. **Validation Zod** : au moins **`path`** (non vide) **ou** **`heading_id`** doit être fourni — pas les deux obligatoires, mais pas aucun.",
                              "properties": {
                                "path": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "description": "Chemin hiérarchique des titres (ex. [\"API\", \"Endpoints\"]). Alternative au slug."
                                },
                                "level": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 6,
                                  "description": "Niveau Markdown ATX (1–6), optionnel"
                                },
                                "heading_id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "**Slug de section** tel que retourné par **getNoteTOC** (`slug` dans la TOC). C’est l’identifiant stable à privilégier pour les agents."
                                }
                              }
                            },
                            "regex": {
                              "type": "object",
                              "properties": {
                                "pattern": {
                                  "type": "string",
                                  "maxLength": 1000,
                                  "description": "Pattern regex"
                                },
                                "flags": {
                                  "type": "string",
                                  "maxLength": 10,
                                  "description": "Flags regex (g, i, m, etc.)"
                                },
                                "nth": {
                                  "type": "integer",
                                  "description": "Nième correspondance à cibler"
                                }
                              }
                            },
                            "position": {
                              "type": "object",
                              "properties": {
                                "mode": {
                                  "type": "string",
                                  "enum": [
                                    "offset",
                                    "start",
                                    "end"
                                  ],
                                  "description": "Mode de position"
                                },
                                "offset": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "description": "Offset en caractères"
                                }
                              }
                            },
                            "anchor": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "enum": [
                                    "doc_start",
                                    "doc_end",
                                    "after_toc",
                                    "before_first_heading"
                                  ],
                                  "description": "Nom de l'ancre sémantique"
                                }
                              }
                            }
                          }
                        },
                        "where": {
                          "type": "string",
                          "enum": [
                            "before",
                            "after",
                            "inside_start",
                            "inside_end",
                            "at",
                            "replace_match"
                          ],
                          "description": "Position relative à la cible. **Optionnel** (schéma Zod). Souvent ignoré pour replace/delete ; défaut implicite pour insert/upsert_section."
                        },
                        "content": {
                          "type": "string",
                          "maxLength": 100000,
                          "description": "Contenu à insérer/remplacer"
                        },
                        "options": {
                          "type": "object",
                          "properties": {
                            "ensure_heading": {
                              "type": "boolean"
                            },
                            "surround_with_blank_lines": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 3
                            },
                            "dedent": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "action",
                        "target"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 50
                  },
                  "transaction": {
                    "type": "string",
                    "enum": [
                      "all_or_nothing",
                      "best_effort"
                    ],
                    "default": "all_or_nothing",
                    "description": "Mode de transaction"
                  },
                  "conflict_strategy": {
                    "type": "string",
                    "enum": [
                      "fail",
                      "skip"
                    ],
                    "default": "fail",
                    "description": "Stratégie en cas de conflit"
                  },
                  "return": {
                    "type": "string",
                    "enum": [
                      "content",
                      "diff",
                      "none"
                    ],
                    "default": "diff",
                    "description": "Type de retour : markdown complet, diff, ou rien"
                  }
                },
                "required": [
                  "ops"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opérations appliquées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "note_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "ops_results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "applied",
                                      "skipped",
                                      "failed"
                                    ]
                                  },
                                  "matches": {
                                    "type": "integer"
                                  },
                                  "range_before": {
                                    "type": "object",
                                    "properties": {
                                      "start": {
                                        "type": "integer"
                                      },
                                      "end": {
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "range_after": {
                                    "type": "object",
                                    "properties": {
                                      "start": {
                                        "type": "integer"
                                      },
                                      "end": {
                                        "type": "integer"
                                      }
                                    }
                                  },
                                  "preview": {
                                    "type": "string"
                                  },
                                  "error": {
                                    "type": "string"
                                  },
                                  "available_headings": {
                                    "type": "array",
                                    "description": "Sections disponibles (présent si status=skipped, pour auto-correction LLM)",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "title": {
                                          "type": "string"
                                        },
                                        "slug": {
                                          "type": "string"
                                        },
                                        "level": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "etag": {
                              "type": "string"
                            },
                            "diff": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string"
                            },
                            "streaming_enabled": {
                              "type": "boolean",
                              "description": "True si le contenu a été streamé vers un canva ouvert"
                            },
                            "saved_to_db": {
                              "type": "boolean",
                              "description": "Toujours true — la note est persistée en DB après chaque appel"
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "char_diff": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "integer"
                                },
                                "removed": {
                                  "type": "integer"
                                }
                              }
                            },
                            "execution_time": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erreur de validation ou regex",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "REGEX_COMPILE_ERROR",
                            "REGEX_TIMEOUT",
                            "INVALID_OPERATION"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Note non trouvée",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "TARGET_NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "412": {
            "description": "Version obsolète (ETag)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PRECONDITION_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Payload invalide (voir details[].field et details[].message)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/note/{ref}/sections:edit": {
      "post": {
        "operationId": "editNoteSection",
        "summary": "Éditer une note par section (TOC / slug)",
        "description": "**Prérequis (LLM / outils)** : appeler **getNoteTOC** (`GET /note/{ref}/table-of-contents`) **avant** la première édition qui cible une section, sauf si la TOC (avec slugs) est déjà dans le contexte du même enchaînement.\n\n**section_slug** : utiliser le champ **slug** renvoyé par getNoteTOC **à l’identique** (titres dupliqués → slugs `foo`, `foo-1`, etc.). Ne pas reconstruire un slug à partir du titre affiché.\n\n**Choix d’outil** : cet endpoint est adapté aux insert/replace/delete/rename **par section**. Pour regex, ancres ou insertions non structurées par slug, utiliser **applyContentOperations** (`content:apply`).\n\n**Actions (validation Zod)** : `insert_*`, `replace_content`, `clear_content`, `replace_heading`, `delete`, `create_section`. `content` requis pour les actions insert/replace listées ; pour `create_section`, fournir `heading_title`, `heading_level`, `create_placement` et si besoin `after_slug`. Body markdown : **pas de ligne `#` H1** ; le titre document est `source_title`.",
        "tags": [
          "Notes"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la note (UUID ou slug)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "insert_before",
                      "insert_after",
                      "insert_inside_start",
                      "insert_inside_end",
                      "replace_content",
                      "clear_content",
                      "replace_heading",
                      "delete",
                      "create_section"
                    ],
                    "description": "Type d'édition sur la section ciblée par section_slug (sauf create_section). clear_content vide le corps et garde le heading ; delete supprime heading + corps."
                  },
                  "section_slug": {
                    "type": "string",
                    "description": "Slug exact retourné par GET /note/{ref}/table-of-contents (getNoteTOC), pas un titre libre — obligatoire sauf action=create_section"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 100000,
                    "description": "Markdown à insérer ou remplacer. Requis (non vide pour insert_*) pour insert_before, insert_after, insert_inside_start, insert_inside_end et replace_content selon le schéma Zod. Pour vider le corps de section : préférer **clear_content** ; sinon replace_content avec contenu vide explicite. Max 100000 caractères."
                  },
                  "new_heading_title": {
                    "type": "string",
                    "description": "Nouveau titre sans # (obligatoire pour replace_heading)"
                  },
                  "heading_level": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 6,
                    "description": "Niveau ATX pour create_section ou replace_heading (optionnel : conserve le niveau actuel)"
                  },
                  "heading_title": {
                    "type": "string",
                    "description": "Titre de la nouvelle section (obligatoire pour create_section)"
                  },
                  "create_placement": {
                    "type": "string",
                    "enum": [
                      "at_start",
                      "at_end",
                      "after_slug"
                    ],
                    "description": "Position de la nouvelle section (obligatoire pour create_section)"
                  },
                  "after_slug": {
                    "type": "string",
                    "description": "Slug de la section après laquelle insérer (si create_placement=after_slug)"
                  },
                  "return": {
                    "type": "string",
                    "enum": [
                      "content",
                      "diff",
                      "none"
                    ],
                    "default": "none",
                    "description": "Inclure le diff ou le markdown complet dans la réponse"
                  }
                },
                "required": [
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section modifiée ; data.toc_after reflète la table des matières après édition",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "note_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "section_slug": {
                              "type": "string",
                              "description": "Slug concerné. Pour create_section, slug réel après déduplication dans toc_after."
                            },
                            "action_applied": {
                              "type": "string"
                            },
                            "toc_after": {
                              "type": "array",
                              "description": "Table des matières après modification (slug, title, level)",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "level": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "etag": {
                              "type": "string"
                            },
                            "diff": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string"
                            },
                            "streaming_enabled": {
                              "type": "boolean"
                            },
                            "saved_to_db": {
                              "type": "boolean",
                              "description": "Toujours true — la note est persistée en DB"
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "char_diff": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "integer"
                                },
                                "removed": {
                                  "type": "integer"
                                }
                              }
                            },
                            "execution_time": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide ou règle métier non respectée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Note non trouvée ou section_slug / after_slug introuvable (réponse peut inclure available_sections)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Version obsolète (ETag / X-Note-Version)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PRECONDITION_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Payload invalide (voir details[].field et details[].message)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "Liste des agents",
        "description": "Récupère la liste des agents spécialisés disponibles",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des agents",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Agent"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Récupérer un agent",
        "description": "Récupère les détails d'un agent spécialisé",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de l'agent"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "executeAgentById",
        "summary": "Exécuter un agent par ID",
        "description": "Exécute un agent spécialisé par son ID",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de l'agent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Message d'entrée"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "temperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2
                      },
                      "max_tokens": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000
                      },
                      "stream": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent exécuté avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "agent_id": {
                              "type": "string"
                            },
                            "response": {
                              "type": "string"
                            },
                            "execution_time": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAgent",
        "summary": "Mettre à jour un agent",
        "description": "Met à jour les propriétés d'un agent spécialisé. Tous les champs sont optionnels. Utiliser les champs plats `temperature`, `top_p`, `max_tokens` — il n'existe pas de champ `config`.",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de l'agent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Nom de l'agent"
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Nom court affiché"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Description de l'agent"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Activer ou désactiver l'agent"
                  },
                  "model": {
                    "type": "string",
                    "description": "Modèle LLM (ex: llama-3.3-70b-versatile)"
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "description": "Température de génération (0.0–2.0)"
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Top-p nucleus sampling (0.0–1.0)"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 128000,
                    "description": "Nombre maximum de tokens en réponse"
                  },
                  "system_instructions": {
                    "type": "string",
                    "description": "Instructions système personnalisées"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent mis à jour avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchAgent",
        "summary": "Mise à jour partielle d'un agent",
        "description": "Met à jour partiellement les propriétés d'un agent. N'envoyer que les champs à modifier. Utiliser les champs plats `temperature`, `top_p`, `max_tokens` — il n'existe pas de champ `config`.",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de l'agent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Nom de l'agent"
                  },
                  "display_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Nom court affiché"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Description de l'agent"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Activer ou désactiver l'agent"
                  },
                  "model": {
                    "type": "string",
                    "description": "Modèle LLM (ex: llama-3.3-70b-versatile)"
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "description": "Température de génération (0.0–2.0)"
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Top-p nucleus sampling (0.0–1.0)"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 128000,
                    "description": "Nombre maximum de tokens en réponse"
                  },
                  "system_instructions": {
                    "type": "string",
                    "description": "Instructions système personnalisées"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent mis à jour avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Supprimer un agent",
        "description": "Supprime un agent spécialisé",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de l'agent"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent supprimé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      },
      "head": {
        "operationId": "checkAgent",
        "summary": "Vérifier l'existence d'un agent",
        "description": "Vérifie si un agent existe et est actif",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de l'agent"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent existe et est actif"
          },
          "404": {
            "description": "Agent non trouvé"
          }
        }
      }
    },
    "/agents/execute": {
      "post": {
        "operationId": "executeAgent",
        "summary": "Exécuter un agent universel",
        "description": "Exécute un agent (slug ou id). Champs requis : **ref**, **input**. **image** : URL **https** optionnelle (modèles vision). **options** : temperature 0–2, **max_tokens** 1–128000, stream booléen — aligné sur le schéma Zod `executeAgentV2Schema`.",
        "tags": [
          "Agents Spécialisés"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": {
                    "type": "string",
                    "description": "Référence de l'agent (ID ou slug)",
                    "example": "johnny"
                  },
                  "input": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Message d'entrée pour l'agent (non vide)",
                    "example": "Analyse cette note"
                  },
                  "image": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL d’image optionnelle pour les agents / modèles multimodaux (doit être une URI valide si fourni ; sinon omettre le champ)"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "temperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "Température de génération (0-2)"
                      },
                      "max_tokens": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 128000,
                        "description": "Plafond de tokens de sortie (Zod : max 128000)"
                      },
                      "stream": {
                        "type": "boolean",
                        "description": "Activer le streaming"
                      }
                    }
                  }
                },
                "required": [
                  "ref",
                  "input"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent exécuté avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "ref": {
                              "type": "string",
                              "example": "johnny"
                            },
                            "agent_name": {
                              "type": "string",
                              "example": "Johnny Query"
                            },
                            "agent_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "response": {
                              "type": "string",
                              "description": "Réponse de l'agent"
                            },
                            "execution_time": {
                              "type": "integer",
                              "description": "Temps d'exécution en ms"
                            },
                            "model_used": {
                              "type": "string",
                              "example": "meta-llama/llama-4-scout-17b-16e-instruct"
                            },
                            "provider": {
                              "type": "string",
                              "example": "groq"
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "agent_slug": {
                              "type": "string"
                            },
                            "agent_type": {
                              "type": "string",
                              "enum": [
                                "chat",
                                "endpoint"
                              ]
                            },
                            "input_length": {
                              "type": "integer"
                            },
                            "response_length": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Agent inactif ou paramètres invalides",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "AGENT_INACTIVE",
                            "INVALID_INPUT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Agent non trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "AGENT_NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Payload invalide (voir details[].field et details[].message)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Erreur d'exécution de l'agent",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "EXECUTION_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchContent",
        "summary": "Recherche de contenu",
        "description": "Recherche dans les notes, classeurs et fichiers",
        "tags": [
          "Recherche"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Terme de recherche"
          },
          {
            "name": "classeur_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ID du classeur à rechercher"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "notes",
                "classeurs",
                "files"
              ]
            },
            "description": "Type de contenu à rechercher"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Nombre maximum de résultats"
          }
        ],
        "responses": {
          "200": {
            "description": "Résultats de recherche",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "score": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "query": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/files/search": {
      "get": {
        "operationId": "searchFiles",
        "summary": "Recherche de fichiers",
        "description": "Recherche spécifiquement dans les fichiers uploadés",
        "tags": [
          "Recherche"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Terme de recherche (optionnel)"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Type de fichier à rechercher (pdf, image, csv, etc.)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Nombre maximum de résultats"
          }
        ],
        "responses": {
          "200": {
            "description": "Résultats de recherche de fichiers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "filename": {
                                "type": "string"
                              },
                              "file_type": {
                                "type": "string"
                              },
                              "size": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "classeur_id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "query": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Statistiques",
        "description": "Récupère les statistiques de l'utilisateur et de la plateforme",
        "tags": [
          "Utilisateur"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Statistiques récupérées",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notes_count": {
                              "type": "integer"
                            },
                            "classeurs_count": {
                              "type": "integer"
                            },
                            "folders_count": {
                              "type": "integer"
                            },
                            "files_count": {
                              "type": "integer"
                            },
                            "storage_used": {
                              "type": "integer",
                              "description": "Stockage utilisé en bytes"
                            },
                            "storage_limit": {
                              "type": "integer",
                              "description": "Limite de stockage en bytes"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "operationId": "getTools",
        "summary": "Outils disponibles",
        "description": "Récupère la liste des outils et fonctionnalités disponibles",
        "tags": [
          "Utilisateur"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des outils",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "string"
                              },
                              "available": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/delete/{resource}/{ref}": {
      "delete": {
        "operationId": "deleteResource",
        "summary": "Suppression unifiée",
        "description": "Supprime une ressource. **resource** (path) : exactement l’une des valeurs **note**, **folder**, **classeur**, **file** (orthographe stricte). **ref** : UUID ou slug de la ressource.",
        "tags": [
          "Utilitaires"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "note",
                "folder",
                "classeur",
                "file"
              ]
            },
            "description": "Type de ressource à supprimer"
          },
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Référence de la ressource (UUID ou slug)"
          }
        ],
        "responses": {
          "200": {
            "description": "Ressource supprimée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/trash": {
      "get": {
        "operationId": "getTrash",
        "summary": "Contenu de la corbeille",
        "description": "Récupère le contenu de la corbeille de l'utilisateur",
        "tags": [
          "Corbeille"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Contenu de la corbeille",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notes": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Note"
                              }
                            },
                            "folders": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Folder"
                              }
                            },
                            "classeurs": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Classeur"
                              }
                            },
                            "files": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "filename": {
                                    "type": "string"
                                  },
                                  "deleted_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/trash/restore": {
      "post": {
        "operationId": "restoreFromTrash",
        "summary": "Restaurer un élément",
        "description": "Restaure un élément depuis la corbeille",
        "tags": [
          "Corbeille"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resource_type": {
                    "type": "string",
                    "enum": [
                      "note",
                      "folder",
                      "classeur",
                      "file"
                    ],
                    "description": "Type de ressource à restaurer"
                  },
                  "resource_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID de l’élément en corbeille à restaurer (validation route : UUID strict)"
                  }
                },
                "required": [
                  "resource_type",
                  "resource_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Élément restauré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/trash/purge": {
      "post": {
        "operationId": "purgeTrash",
        "summary": "Vider la corbeille",
        "description": "Supprime définitivement tous les éléments de la corbeille",
        "tags": [
          "Corbeille"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
[...]
