{
    "openapi": "3.1.0",
    "info": {
      "title": "API V2 Abrège - Complète",
      "description": "API V2 moderne et robuste pour la gestion de notes, classeurs, dossiers et agents spécialisés avec support LLM. Authentification par clé API uniquement.",
      "version": "2.0.0",
      "contact": {
        "name": "Support Abrège",
        "email": "support@scrivia.app",
        "url": "https://docs.scrivia.app"
      },
      "license": {
        "name": "MIT",
        "url": "https://opensource.org/licenses/MIT"
      }
    },
    "servers": [
      {
        "url": "https://www.scrivia.app/api/v2",
        "description": "Production"
      }
    ],
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "paths": {
      "/note/{ref}": {
        "get": {
          "operationId": "getNote",
          "summary": "Récupérer une note",
          "description": "Récupère une note par son ID ou slug avec toutes ses métadonnées",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Note récupérée avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Note"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Note non trouvée",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/note/create": {
        "post": {
          "operationId": "createNote",
          "summary": "Créer une nouvelle note",
          "description": "Créer une note dans un classeur. Ne pas inclure de H1 dans le contenu : source_title sert de titre. Utiliser notebook_id (ID ou slug du classeur) et markdown_content pour le corps. folder_id doit être un UUID ou null (pas la chaîne \"default\").",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source_title": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255,
                      "description": "Titre de la note (obligatoire)"
                    },
                    "notebook_id": {
                      "type": "string",
                      "description": "ID ou slug du classeur parent. Optionnel pour brouillons Canva."
                    },
                    "markdown_content": {
                      "type": "string",
                      "default": "",
                      "description": "Contenu markdown (pas de H1 : le titre est source_title)"
                    },
                    "folder_id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true,
                      "description": "ID du dossier parent (UUID) ou null pour la racine"
                    },
                    "header_image": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL de l'image d'en-tête (optionnel)"
                    },
                    "is_canva_draft": {
                      "type": "boolean",
                      "default": false,
                      "description": "True pour un brouillon Canva (optionnel)"
                    }
                  },
                  "required": ["source_title"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Note créée avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Note"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Payload invalide (voir details[].field et details[].message)",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/ValidationError"}
                }
              }
            }
          }
        }
      },
      "/canva/sessions": {
        "post": {
          "operationId": "canva.create_session",
          "summary": "Créer ou ouvrir une session canva",
          "description": "Ouvre une note existante dans le canevas ou crée un nouveau brouillon canva attaché à une session de chat.\n\n📋 DEUX MODES (oneOf) - CHOIX BINAIRE :\n\n**Mode 1 - Ouvrir une note existante :**\n- Fournir : `chat_session_id` + `note_id` (OBLIGATOIRE)\n- Utiliser le schéma `OpenCanvaSessionInput`\n- ⚠️ `note_id` ne peut PAS être null/absent dans ce mode\n\n**Mode 2 - Créer un nouveau canvas :**\n- Fournir : `chat_session_id` + `title` (OBLIGATOIRE)\n- NE PAS fournir `note_id` (laisser absent/null)\n- Utiliser le schéma `CreateNewCanvaInput`\n- ⚠️ `title` est dans le tableau `required` de ce schéma\n- ⚠️ `note_id` doit être ABSENT/null pour ce mode\n\n🚨 RÈGLE CRITIQUE : \n- Si `note_id` est fourni → Mode 1 (ouvrir note existante)\n- Si `note_id` est ABSENT/null → Mode 2 (créer nouveau canvas, `title` obligatoire)\n\n💡 Pour créer un nouveau canvas : omettre complètement `note_id` et fournir `title`.",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/OpenCanvaSessionInput"},
                    {"$ref": "#/components/schemas/CreateNewCanvaInput"}
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Session canva créée avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "canva_session": {"$ref": "#/components/schemas/CanvaSession"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Payload invalide",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "403": {
              "description": "Accès refusé",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        },
        "get": {
          "operationId": "canva.list_sessions",
          "summary": "Lister les sessions canva d'une session de chat",
          "description": "Retourne toutes les sessions canva associées à une session de chat donnée. Filtrage par statut via query params.",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "chat_session_id",
              "in": "query",
              "required": true,
              "schema": {"type": "string", "format": "uuid"},
              "description": "ID de la session de chat"
            },
            {
              "name": "status",
              "in": "query",
              "required": false,
              "schema": {"type": "string"},
              "description": "Filtrer par statut (format: 'open,closed,saved')"
            },
            {
              "name": "include_note",
              "in": "query",
              "required": false,
              "schema": {"type": "boolean", "default": true},
              "description": "Inclure les détails de la note"
            }
          ],
          "responses": {
            "200": {
              "description": "Liste des canvases récupérée",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "canva_sessions": {
                            "type": "array",
                            "items": {"$ref": "#/components/schemas/CanvaSession"}
                          },
                          "count": {"type": "integer"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Query params invalides",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/canva/sessions/{sessionId}": {
        "get": {
          "operationId": "canva.get_session",
          "summary": "Récupérer une session canva",
          "description": "Retourne les détails d'une session canva spécifique avec sa note associée.",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "sessionId",
              "in": "path",
              "required": true,
              "schema": {"type": "string", "format": "uuid"},
              "description": "ID de la canva_session"
            }
          ],
          "responses": {
            "200": {
              "description": "Session canva récupérée",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "canva_session": {"$ref": "#/components/schemas/CanvaSession"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Session canva introuvable",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        },
        "patch": {
          "operationId": "canva.update_session",
          "summary": "Mettre à jour une session canva",
          "description": "Met à jour le statut ou les métadonnées d'une session canva (ex: fermer le pane UI, marquer comme saved).",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "sessionId",
              "in": "path",
              "required": true,
              "schema": {"type": "string", "format": "uuid"},
              "description": "ID de la canva_session"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/UpdateCanvaSessionInput"}
              }
            }
          },
          "responses": {
            "200": {
              "description": "Session canva mise à jour",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "canva_session": {"$ref": "#/components/schemas/CanvaSession"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Payload invalide",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "404": {
              "description": "Session canva introuvable",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        },
        "delete": {
          "operationId": "canva.delete_session",
          "summary": "Supprimer une session canva",
          "description": "Détache définitivement le canva de la conversation (supprime l'entrée canva_sessions). Si la note est un brouillon canva, elle sera aussi supprimée.",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "sessionId",
              "in": "path",
              "required": true,
              "schema": {"type": "string", "format": "uuid"},
              "description": "ID de la canva_session à supprimer"
            }
          ],
          "responses": {
            "200": {
              "description": "Session canva supprimée",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "deleted_session_id": {"type": "string", "format": "uuid"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Session canva introuvable",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/canvas/{ref}/ops:stream": {
        "post": {
          "operationId": "canvasStreamOps",
          "summary": "Envoi d'opérations streaming canvas",
          "description": "Envoie 1-3 opérations atomiques pour l'édition collaborative du canvas en temps réel. Le serveur valide, applique en mémoire et retourne un accusé technique (202 Accepted). Les résultats métier (ACK/CONFLICT) sont émis via SSE pour tous les clients.\n\n⚠️ IMPORTANT : Le POST retourne uniquement un accusé technique. Les résultats métier arrivent via SSE (endpoint `/canvas/{ref}/ops:listen`).\n\nUtilisé par :\n- Humains (éditeur canvas UI)\n- LLM (agents d'écriture, aucun privilège spécial)",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ops": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 3,
                      "items": {
                        "type": "object",
                        "properties": {
                          "op_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "ID unique de l'opération (pour idempotence)"
                          },
                          "client_version": {
                            "type": "string",
                            "description": "ETag connu du client (ex: W/\"etag123\")"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "Timestamp de création de l'opération (millisecondes)"
                          },
                          "id": {
                            "type": "string",
                            "description": "ID de l'opération (référence interne)"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["insert", "replace", "delete", "upsert_section"],
                            "description": "Type d'opération à effectuer"
                          },
                          "target": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": ["heading", "regex", "position", "anchor"],
                                "description": "Type de cible"
                              },
                              "heading": {
                                "type": "object",
                                "properties": {
                                  "path": {
                                    "type": "array",
                                    "items": {"type": "string"},
                                    "description": "Chemin du heading (ex: [\"API\", \"Endpoints\"])"
                                  },
                                  "level": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 6,
                                    "description": "Niveau du heading (1-6)"
                                  },
                                  "heading_id": {
                                    "type": "string",
                                    "description": "ID du heading (slug)"
                                  }
                                }
                              },
                              "regex": {
                                "type": "object",
                                "properties": {
                                  "pattern": {
                                    "type": "string",
                                    "maxLength": 1000,
                                    "description": "Pattern regex"
                                  },
                                  "flags": {
                                    "type": "string",
                                    "maxLength": 10,
                                    "description": "Flags regex (g, i, m, etc.)"
                                  },
                                  "nth": {
                                    "type": "integer",
                                    "description": "Nième correspondance à cibler"
                                  }
                                },
                                "required": ["pattern"]
                              },
                              "position": {
                                "type": "object",
                                "properties": {
                                  "mode": {
                                    "type": "string",
                                    "enum": ["offset", "start", "end"],
                                    "description": "Mode de position"
                                  },
                                  "offset": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "description": "Offset en caractères"
                                  }
                                },
                                "required": ["mode"]
                              },
                              "anchor": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "enum": ["doc_start", "doc_end", "after_toc", "before_first_heading"],
                                    "description": "Nom de l'ancre sémantique"
                                  }
                                },
                                "required": ["name"]
                              }
                            },
                            "required": ["type"]
                          },
                          "where": {
                            "type": "string",
                            "enum": ["before", "after", "inside_start", "inside_end", "at", "replace_match"],
                            "description": "Position relative à la cible"
                          },
                          "content": {
                            "type": "string",
                            "maxLength": 100000,
                            "description": "Contenu à insérer/remplacer (requis pour insert/replace/upsert_section)"
                          },
                          "options": {
                            "type": "object",
                            "properties": {
                              "ensure_heading": {"type": "boolean"},
                              "surround_with_blank_lines": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 3
                              },
                              "dedent": {"type": "boolean"}
                            }
                          }
                        },
                        "required": ["op_id", "client_version", "timestamp", "id", "action", "target", "where"]
                      },
                      "description": "Liste de 1 à 3 opérations à appliquer"
                    },
                    "canvas_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID de la session canvas (optionnel, si fourni utilise ce canvas au lieu de ref)"
                    }
                  },
                  "required": ["ops"]
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Opérations acceptées (accusé technique). Les résultats métier (ACK/CONFLICT) arrivent via SSE.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "accepted": {
                        "type": "boolean",
                        "example": true
                      },
                      "ops_count": {
                        "type": "integer",
                        "description": "Nombre d'opérations acceptées"
                      },
                      "duration": {
                        "type": "integer",
                        "description": "Durée de traitement en millisecondes"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Validation échouée",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "details": {
                            "type": "array",
                            "items": {"type": "object"}
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "Non authentifié",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "404": {
              "description": "Note ou canvas non trouvé",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "500": {
              "description": "Erreur serveur",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/canvas/{ref}/ops:listen": {
        "get": {
          "operationId": "canvasListenOps",
          "summary": "Écouter les événements streaming canvas (SSE)",
          "description": "Endpoint Server-Sent Events (SSE) pour écouter les événements de streaming canvas en temps réel.\n\n⚠️ IMPORTANT : Ce canal SSE est la source de vérité fonctionnelle unique. Tous les résultats métier (ACK/CONFLICT) sont émis via ce canal.\n\nÉvénements émis :\n- `start` : Connexion établie\n- `ack` : Opération acceptée (appliquée)\n- `conflict` : Conflit de version détecté (ETag mismatch)\n- `error` : Erreur serveur\n\nUtilisé par le frontend pour synchroniser l'état local avec le serveur.",
          "tags": ["Canva"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            },
            {
              "name": "token",
              "in": "query",
              "required": false,
              "schema": {"type": "string"},
              "description": "JWT token (requis pour EventSource qui ne supporte pas les headers)"
            }
          ],
          "responses": {
            "200": {
              "description": "Stream SSE actif",
              "content": {
                "text/event-stream": {
                  "schema": {
                    "type": "string",
                    "description": "Stream Server-Sent Events",
                    "example": "event: ack\ndata: {\"event\":\"ack\",\"op_id\":\"uuid\",\"status\":\"applied\",\"server_version\":\"W/\\\"etag\\\"\"}\n\n"
                  }
                }
              },
              "headers": {
                "Content-Type": {
                  "schema": {
                    "type": "string",
                    "example": "text/event-stream"
                  },
                  "description": "Type de contenu SSE"
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache, no-transform"
                  },
                  "description": "Pas de cache pour le stream"
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  },
                  "description": "Connexion persistante"
                }
              }
            },
            "401": {
              "description": "Non authentifié",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "404": {
              "description": "Note non trouvée",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "500": {
              "description": "Erreur serveur",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/note/{ref}/update": {
        "put": {
          "operationId": "updateNote",
          "summary": "Mettre à jour une note",
          "description": "Met à jour le contenu et les métadonnées d'une note existante",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source_title": {"type": "string", "maxLength": 255},
                    "markdown_content": {"type": "string"},
                    "html_content": {"type": "string"},
                    "header_image": {"type": "string", "format": "uri", "nullable": true},
                    "header_image_offset": {"type": "number", "minimum": 0, "maximum": 100},
                    "header_image_blur": {"type": "integer", "minimum": 0, "maximum": 5},
                    "header_image_overlay": {"type": "integer", "minimum": 0, "maximum": 5},
                    "header_title_in_image": {"type": "boolean"},
                    "wide_mode": {"type": "boolean"},
                    "a4_mode": {"type": "boolean"},
                    "slash_lang": {"type": "string", "enum": ["fr", "en"]},
                    "font_family": {"type": "string"},
                    "folder_id": {"type": "string", "format": "uuid", "nullable": true},
                    "description": {"type": "string", "maxLength": 500}
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Note mise à jour avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Note"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/note/{ref}/content:apply": {
        "post": {
          "operationId": "applyContentOperations",
          "summary": "Appliquer des opérations de contenu",
          "description": "Applique des opérations de contenu sur une note (insert, replace, delete, upsert_section) avec précision chirurgicale",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string", "description": "ID unique de l'opération"},
                          "action": {
                            "type": "string",
                            "enum": ["insert", "replace", "delete", "upsert_section"],
                            "description": "Type d'opération à effectuer"
                          },
                          "target": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": ["heading", "regex", "position", "anchor"],
                                "description": "Type de cible"
                              },
                              "heading": {
                                "type": "object",
                                "properties": {
                                  "path": {
                                    "type": "array",
                                    "items": {"type": "string"},
                                    "description": "Chemin du heading (ex: [\"API\", \"Endpoints\"])"
                                  },
                                  "level": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 6,
                                    "description": "Niveau du heading (1-6)"
                                  },
                                  "heading_id": {
                                    "type": "string",
                                    "description": "ID du heading (slug)"
                                  }
                                }
                              },
                              "regex": {
                                "type": "object",
                                "properties": {
                                  "pattern": {
                                    "type": "string",
                                    "maxLength": 1000,
                                    "description": "Pattern regex"
                                  },
                                  "flags": {
                                    "type": "string",
                                    "maxLength": 10,
                                    "description": "Flags regex (g, i, m, etc.)"
                                  },
                                  "nth": {
                                    "type": "integer",
                                    "description": "Nième correspondance à cibler"
                                  }
                                }
                              },
                              "position": {
                                "type": "object",
                                "properties": {
                                  "mode": {
                                    "type": "string",
                                    "enum": ["offset", "start", "end"],
                                    "description": "Mode de position"
                                  },
                                  "offset": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "description": "Offset en caractères"
                                  }
                                }
                              },
                              "anchor": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "enum": ["doc_start", "doc_end", "after_toc", "before_first_heading"],
                                    "description": "Nom de l'ancre sémantique"
                                  }
                                }
                              }
                            }
                          },
                          "where": {
                            "type": "string",
                            "enum": ["before", "after", "inside_start", "inside_end", "at", "replace_match"],
                            "description": "Position relative à la cible"
                          },
                          "content": {
                            "type": "string",
                            "maxLength": 100000,
                            "description": "Contenu à insérer/remplacer"
                          },
                          "options": {
                            "type": "object",
                            "properties": {
                              "ensure_heading": {"type": "boolean"},
                              "surround_with_blank_lines": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 3
                              },
                              "dedent": {"type": "boolean"}
                            }
                          }
                        },
                        "required": ["id", "action", "target", "where"]
                      },
                      "minItems": 1,
                      "maxItems": 50
                    },
                    "dry_run": {
                      "type": "boolean",
                      "default": true,
                      "description": "Mode simulation (ne sauvegarde pas)"
                    },
                    "transaction": {
                      "type": "string",
                      "enum": ["all_or_nothing", "best_effort"],
                      "default": "all_or_nothing",
                      "description": "Mode de transaction"
                    },
                    "conflict_strategy": {
                      "type": "string",
                      "enum": ["fail", "skip"],
                      "default": "fail",
                      "description": "Stratégie en cas de conflit"
                    },
                    "return": {
                      "type": "string",
                      "enum": ["content", "diff", "none"],
                      "default": "diff",
                      "description": "Type de retour"
                    },
                    "idempotency_key": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Clé d'idempotence"
                    }
                  },
                  "required": ["ops"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Opérations appliquées avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "note_id": {"type": "string", "format": "uuid"},
                              "ops_results": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {"type": "string"},
                                    "status": {
                                      "type": "string",
                                      "enum": ["applied", "skipped", "failed"]
                                    },
                                    "matches": {"type": "integer"},
                                    "range_before": {
                                      "type": "object",
                                      "properties": {
                                        "start": {"type": "integer"},
                                        "end": {"type": "integer"}
                                      }
                                    },
                                    "range_after": {
                                      "type": "object",
                                      "properties": {
                                        "start": {"type": "integer"},
                                        "end": {"type": "integer"}
                                      }
                                    },
                                    "preview": {"type": "string"},
                                    "error": {"type": "string"}
                                  }
                                }
                              },
                              "etag": {"type": "string"},
                              "diff": {"type": "string"},
                              "content": {"type": "string"}
                            }
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "dry_run": {"type": "boolean"},
                              "char_diff": {
                                "type": "object",
                                "properties": {
                                  "added": {"type": "integer"},
                                  "removed": {"type": "integer"}
                                }
                              },
                              "execution_time": {"type": "integer"}
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Erreur de validation ou regex",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "enum": ["REGEX_COMPILE_ERROR", "REGEX_TIMEOUT", "INVALID_OPERATION"]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Note non trouvée",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "code": {"type": "string", "enum": ["TARGET_NOT_FOUND"]}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "412": {
              "description": "Version obsolète (ETag)",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "code": {"type": "string", "enum": ["PRECONDITION_FAILED"]}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Erreur de validation des paramètres",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/agents": {
        "get": {
          "operationId": "listAgents",
          "summary": "Liste des agents",
          "description": "Récupère la liste des agents spécialisés disponibles",
          "tags": ["Agents Spécialisés"],
          "security": [{"ApiKeyAuth": []}],
          "responses": {
            "200": {
              "description": "Liste des agents",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {"$ref": "#/components/schemas/Agent"}
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "post": {
          "operationId": "createAgent",
          "summary": "Créer un agent",
          "description": "Crée un nouvel agent spécialisé",
          "tags": ["Agents Spécialisés"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "display_name": {
                      "type": "string",
                      "maxLength": 255,
                      "description": "Nom d'affichage de l'agent"
                    },
                    "slug": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "Slug unique de l'agent"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 1000,
                      "description": "Description de l'agent"
                    },
                    "model": {
                      "type": "string",
                      "enum": [
                        "openai/gpt-oss-20b",
                        "openai/gpt-oss-120b",
                        "meta-llama/llama-4-scout-17b-16e-instruct",
                        "meta-llama/llama-4-maverick-17b-128e-instruct",
                        "kimi-k2-0905"
                      ],
                      "description": "Modèle LLM à utiliser (modèles recommandés)"
                    },
                    "provider": {
                      "type": "string",
                      "enum": ["groq", "openai", "anthropic"],
                      "default": "groq",
                      "description": "Fournisseur LLM"
                    },
                    "system_instructions": {
                      "type": "string",
                      "description": "Instructions système pour l'agent"
                    },
                    "is_chat_agent": {
                      "type": "boolean",
                      "default": false,
                      "description": "Agent de chat ou endpoint"
                    },
                    "temperature": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 2,
                      "default": 0.7,
                      "description": "Température de génération"
                    },
                    "max_tokens": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 10000,
                      "default": 4000,
                      "description": "Nombre maximum de tokens"
                    },
                    "api_v2_capabilities": {
                      "type": "array",
                      "items": {"type": "string"},
                      "description": "Capacités API V2 de l'agent"
                    },
                    "input_schema": {
                      "type": "object",
                      "description": "Schéma d'entrée OpenAPI"
                    },
                    "output_schema": {
                      "type": "object",
                      "description": "Schéma de sortie OpenAPI"
                    }
                  },
                  "required": ["display_name", "slug", "description", "model"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Agent créé avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Agent"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Données invalides",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/agents/{agentId}": {
        "get": {
          "operationId": "getAgent",
          "summary": "Récupérer un agent",
          "description": "Récupère les détails d'un agent spécialisé",
          "tags": ["Agents Spécialisés"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "agentId",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "ID de l'agent"
            }
          ],
          "responses": {
            "200": {
              "description": "Agent récupéré avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Agent"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "delete": {
          "operationId": "deleteAgent",
          "summary": "Supprimer un agent",
          "description": "Supprime un agent spécialisé",
          "tags": ["Agents Spécialisés"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "agentId",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "ID de l'agent"
            }
          ],
          "responses": {
            "200": {
              "description": "Agent supprimé avec succès",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Success"}
                }
              }
            }
          }
        },
        "patch": {
          "operationId": "patchAgent",
          "summary": "Mettre à jour partiellement un agent",
          "description": "Met à jour partiellement les propriétés d'un agent spécialisé",
          "tags": ["Agents Spécialisés"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "agentId",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "ID ou slug de l'agent"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "display_name": {"type": "string", "maxLength": 255},
                    "description": {"type": "string", "maxLength": 1000},
                    "model": {
                      "type": "string",
                      "enum": [
                        "openai/gpt-oss-20b",
                        "openai/gpt-oss-120b",
                        "meta-llama/llama-4-scout-17b-16e-instruct",
                        "meta-llama/llama-4-maverick-17b-128e-instruct",
                        "kimi-k2-0905"
                      ],
                      "description": "Modèle LLM à utiliser (modèles recommandés)"
                    },
                    "system_instructions": {"type": "string"},
                    "temperature": {"type": "number", "minimum": 0, "maximum": 2},
                    "max_tokens": {"type": "integer", "minimum": 1, "maximum": 10000},
                    "is_active": {"type": "boolean"},
                    "api_v2_capabilities": {
                      "type": "array",
                      "items": {"type": "string"}
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Agent mis à jour avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "agent": {"$ref": "#/components/schemas/Agent"}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Agent non trouvé",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/agents/execute": {
        "post": {
          "operationId": "executeAgent",
          "summary": "Exécuter un agent universel",
          "description": "Endpoint universel pour exécuter n'importe quel agent spécialisé avec une interface simple",
          "tags": ["Agents Spécialisés"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
                      "type": "string",
                      "description": "Référence de l'agent (ID ou slug)",
                      "example": "johnny"
                    },
                    "input": {
                      "type": "string",
                      "description": "Message d'entrée pour l'agent",
                      "example": "Analyse cette note"
                    },
                    "image": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL de l'image à analyser (supporté par les modèles Llama)",
                      "example": "https://example.com/image.jpg"
                    },
                    "options": {
                      "type": "object",
                      "properties": {
                        "temperature": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 2,
                          "description": "Température de génération (0-2)"
                        },
                        "max_tokens": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10000,
                          "description": "Nombre maximum de tokens"
                        },
                        "stream": {
                          "type": "boolean",
                          "description": "Activer le streaming"
                        }
                      }
                    }
                  },
                  "required": ["ref", "input"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Agent exécuté avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "ref": {"type": "string", "example": "johnny"},
                              "agent_name": {"type": "string", "example": "Johnny Query"},
                              "agent_id": {"type": "string", "format": "uuid"},
                              "response": {"type": "string", "description": "Réponse de l'agent"},
                              "execution_time": {"type": "integer", "description": "Temps d'exécution en ms"},
                              "model_used": {"type": "string", "example": "meta-llama/llama-4-scout-17b-16e-instruct"},
                              "provider": {"type": "string", "example": "groq"}
                            }
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "timestamp": {"type": "string", "format": "date-time"},
                              "agent_slug": {"type": "string"},
                              "agent_type": {"type": "string", "enum": ["chat", "endpoint"]},
                              "input_length": {"type": "integer"},
                              "response_length": {"type": "integer"}
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Agent inactif ou paramètres invalides",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "code": {"type": "string", "enum": ["AGENT_INACTIVE", "INVALID_INPUT"]}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Agent non trouvé",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "code": {"type": "string", "enum": ["AGENT_NOT_FOUND"]}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Erreur de validation des paramètres",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "500": {
              "description": "Erreur d'exécution de l'agent",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Error"},
                      {
                        "type": "object",
                        "properties": {
                          "code": {"type": "string", "enum": ["EXECUTION_FAILED"]}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/search": {
        "get": {
          "operationId": "searchContent",
          "summary": "Recherche de contenu",
          "description": "Recherche dans les notes, classeurs et fichiers",
          "tags": ["Recherche"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "q",
              "in": "query",
              "required": true,
              "schema": {"type": "string"},
              "description": "Terme de recherche"
            },
            {
              "name": "classeur_id",
              "in": "query",
              "schema": {"type": "string"},
              "description": "ID du classeur à rechercher"
            },
            {
              "name": "type",
              "in": "query",
              "schema": {"type": "string", "enum": ["all", "notes", "classeurs", "files"]},
              "description": "Type de contenu à rechercher"
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20},
              "description": "Nombre maximum de résultats"
            }
          ],
          "responses": {
            "200": {
              "description": "Résultats de recherche",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {"type": "string"},
                                "title": {"type": "string"},
                                "content": {"type": "string"},
                                "type": {"type": "string"},
                                "score": {"type": "number"}
                              }
                            }
                          },
                          "total": {"type": "integer"},
                          "query": {"type": "string"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/files/search": {
        "get": {
          "operationId": "searchFiles",
          "summary": "Recherche de fichiers",
          "description": "Recherche spécifiquement dans les fichiers uploadés",
          "tags": ["Recherche"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "q",
              "in": "query",
              "required": false,
              "schema": {"type": "string"},
              "description": "Terme de recherche (optionnel)"
            },
            {
              "name": "type",
              "in": "query",
              "schema": {"type": "string"},
              "description": "Type de fichier à rechercher (pdf, image, csv, etc.)"
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20},
              "description": "Nombre maximum de résultats"
            }
          ],
          "responses": {
            "200": {
              "description": "Résultats de recherche de fichiers",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {"type": "string"},
                                "filename": {"type": "string"},
                                "file_type": {"type": "string"},
                                "size": {"type": "integer"},
                                "url": {"type": "string"},
                                "classeur_id": {"type": "string"},
                                "created_at": {"type": "string", "format": "date-time"}
                              }
                            }
                          },
                          "total": {"type": "integer"},
                          "query": {"type": "string"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/delete/{resource}/{ref}": {
        "delete": {
          "operationId": "deleteResource",
          "summary": "Suppression unifiée",
          "description": "Supprime une ressource (note, dossier, classeur, fichier) de manière unifiée",
          "tags": ["Utilitaires"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "resource",
              "in": "path",
              "required": true,
              "schema": {"type": "string", "enum": ["note", "folder", "classeur", "file"]},
              "description": "Type de ressource à supprimer"
            },
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la ressource (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Ressource supprimée avec succès",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Success"}
                }
              }
            }
          }
        }
      },
      "/me": {
        "get": {
          "operationId": "getUserProfile",
          "summary": "Profil utilisateur",
          "description": "Récupère les informations du profil utilisateur",
          "tags": ["Utilisateur"],
          "security": [{"ApiKeyAuth": []}],
          "responses": {
            "200": {
              "description": "Profil utilisateur",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "id": {"type": "string", "format": "uuid"},
                              "email": {"type": "string", "format": "email"},
                              "name": {"type": "string", "nullable": true},
                              "surname": {"type": "string", "nullable": true},
                              "display_name": {"type": "string", "nullable": true},
                              "profile_picture": {"type": "string", "format": "uri", "nullable": true},
                              "bio": {"type": "string", "nullable": true},
                              "timezone": {"type": "string", "default": "UTC"},
                              "language": {"type": "string", "default": "fr"},
                              "settings": {"type": "object", "nullable": true},
                              "created_at": {"type": "string", "format": "date-time"},
                              "updated_at": {"type": "string", "format": "date-time"}
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/note/{ref}/insert-content": {
        "post": {
          "operationId": "insertNoteContent",
          "summary": "Insérer du contenu dans une note",
          "description": "Insère du contenu à une position spécifique dans une note",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {"type": "string", "description": "Contenu à insérer"},
                    "position": {"type": "integer", "description": "Position d'insertion"},
                    "where": {
                      "type": "string",
                      "enum": ["before", "after", "replace"],
                      "default": "after"
                    }
                  },
                  "required": ["content"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Contenu inséré avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Note"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/note/{ref}/table-of-contents": {
        "get": {
          "operationId": "getNoteTOC",
          "summary": "Table des matières d'une note",
          "description": "Récupère la table des matières structurée d'une note",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Table des matières récupérée",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "level": {"type": "integer"},
                                "title": {"type": "string"},
                                "id": {"type": "string"},
                                "position": {"type": "integer"}
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/note/{ref}/share": {
        "get": {
          "operationId": "getNoteShareSettings",
          "summary": "Récupérer les paramètres de partage d'une note",
          "description": "Récupère les paramètres de partage actuels d'une note",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Paramètres de partage récupérés avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "share_settings": {
                            "type": "object",
                            "properties": {
                              "visibility": {
                                "type": "string",
                                "enum": ["private", "link-private", "link-public", "limited", "scrivia"]
                              },
                              "invited_users": {
                                "type": "array",
                                "items": {"type": "string"}
                              },
                              "allow_edit": {"type": "boolean"},
                              "allow_comments": {"type": "boolean"},
                              "link_expires": {"type": "string", "format": "date-time"}
                            }
                          },
                          "public_url": {"type": "string", "nullable": true}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Note non trouvée",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        },
        "patch": {
          "operationId": "updateNoteShareSettings",
          "summary": "Mettre à jour les paramètres de partage d'une note",
          "description": "Met à jour les paramètres de partage d'une note (visibilité, permissions, etc.)",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visibility": {
                      "type": "string",
                      "enum": ["private", "link-private", "link-public", "limited", "scrivia"],
                      "description": "Niveau de visibilité de la note"
                    },
                    "invited_users": {
                      "type": "array",
                      "items": {"type": "string"},
                      "description": "Liste des utilisateurs invités"
                    },
                    "allow_edit": {
                      "type": "boolean",
                      "description": "Autoriser l'édition par les utilisateurs invités"
                    },
                    "allow_comments": {
                      "type": "boolean",
                      "description": "Autoriser les commentaires"
                    },
                    "link_expires": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date d'expiration du lien (optionnel)"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Paramètres de partage mis à jour avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "message": {"type": "string"},
                          "share_settings": {
                            "type": "object",
                            "properties": {
                              "visibility": {
                                "type": "string",
                                "enum": ["private", "link-private", "link-public", "limited", "scrivia"]
                              },
                              "invited_users": {
                                "type": "array",
                                "items": {"type": "string"}
                              },
                              "allow_edit": {"type": "boolean"},
                              "allow_comments": {"type": "boolean"},
                              "link_expires": {"type": "string", "format": "date-time"}
                            }
                          },
                          "public_url": {"type": "string", "nullable": true}
                        }
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Note non trouvée",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            },
            "422": {
              "description": "Données invalides",
              "content": {
                "application/json": {
                  "schema": {"$ref": "#/components/schemas/Error"}
                }
              }
            }
          }
        }
      },
      "/note/{ref}/move": {
        "put": {
          "operationId": "moveNote",
          "summary": "Déplacer une note",
          "description": "Déplace une note vers un autre classeur ou dossier",
          "tags": ["Notes"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence de la note (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "target_folder_id": {"type": "string", "format": "uuid", "nullable": true},
                    "target_notebook_id": {"type": "string", "format": "uuid"}
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Note déplacée avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Note"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/folder/{ref}": {
        "get": {
          "operationId": "getFolder",
          "summary": "Récupérer un dossier",
          "description": "Récupère un dossier par son ID ou slug",
          "tags": ["Dossiers"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du dossier (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Dossier récupéré avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Folder"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/folder/create": {
        "post": {
          "operationId": "createFolder",
          "summary": "Créer un dossier",
          "description": "Crée un nouveau dossier dans un classeur",
          "tags": ["Dossiers"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {"type": "string", "maxLength": 255},
                    "classeur_id": {"type": "string", "format": "uuid"},
                    "parent_folder_id": {"type": "string", "format": "uuid"},
                    "position": {"type": "integer"}
                  },
                  "required": ["name", "classeur_id"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Dossier créé avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Folder"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/folder/{ref}/update": {
        "put": {
          "operationId": "updateFolder",
          "summary": "Mettre à jour un dossier",
          "description": "Met à jour les propriétés d'un dossier",
          "tags": ["Dossiers"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du dossier (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {"type": "string", "maxLength": 255},
                    "position": {"type": "integer"}
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Dossier mis à jour avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Folder"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/folder/{ref}/tree": {
        "get": {
          "operationId": "getFolderTree",
          "summary": "Arbre d'un dossier",
          "description": "Récupère l'arbre complet d'un dossier avec ses sous-dossiers et notes",
          "tags": ["Dossiers"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du dossier (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Arbre du dossier récupéré",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "folder": {"$ref": "#/components/schemas/Folder"},
                              "subfolders": {
                                "type": "array",
                                "items": {"$ref": "#/components/schemas/Folder"}
                              },
                              "notes": {
                                "type": "array",
                                "items": {"$ref": "#/components/schemas/Note"}
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/folder/{ref}/move": {
        "post": {
          "operationId": "moveFolder",
          "summary": "Déplacer un dossier",
          "description": "Déplace un dossier vers un autre classeur ou dossier parent",
          "tags": ["Dossiers"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du dossier (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "classeur_id": {"type": "string", "format": "uuid"},
                    "parent_folder_id": {"type": "string", "format": "uuid"},
                    "position": {"type": "integer"}
                  },
                  "required": ["classeur_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Dossier déplacé avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Folder"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/classeurs": {
        "get": {
          "operationId": "listClasseurs",
          "summary": "Liste des classeurs",
          "description": "Récupère la liste des classeurs de l'utilisateur",
          "tags": ["Classeurs"],
          "security": [{"ApiKeyAuth": []}],
          "responses": {
            "200": {
              "description": "Liste des classeurs",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {"$ref": "#/components/schemas/Classeur"}
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/classeur/create": {
        "post": {
          "operationId": "createClasseur",
          "summary": "Créer un classeur",
          "description": "Crée un nouveau classeur pour l'utilisateur",
          "tags": ["Classeurs"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {"type": "string", "maxLength": 255},
                    "description": {"type": "string", "maxLength": 1000},
                    "color": {"type": "string", "pattern": "^#[0-9A-Fa-f]{6}$"},
                    "position": {"type": "integer"}
                  },
                  "required": ["name"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Classeur créé avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Classeur"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/classeur/{ref}": {
        "get": {
          "operationId": "getClasseur",
          "summary": "Récupérer un classeur",
          "description": "Récupère un classeur par son ID ou slug",
          "tags": ["Classeurs"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du classeur (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Classeur récupéré avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Classeur"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/classeur/{ref}/update": {
        "put": {
          "operationId": "updateClasseur",
          "summary": "Mettre à jour un classeur",
          "description": "Met à jour les propriétés d'un classeur",
          "tags": ["Classeurs"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du classeur (UUID ou slug)"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {"type": "string", "maxLength": 255},
                    "description": {"type": "string", "maxLength": 1000},
                    "color": {"type": "string", "pattern": "^#[0-9A-Fa-f]{6}$"},
                    "position": {"type": "integer"}
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Classeur mis à jour avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {"$ref": "#/components/schemas/Classeur"}
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/classeur/{ref}/tree": {
        "get": {
          "operationId": "getClasseurTree",
          "summary": "Arbre d'un classeur",
          "description": "Récupère l'arbre complet d'un classeur avec ses dossiers et notes",
          "tags": ["Classeurs"],
          "security": [{"ApiKeyAuth": []}],
          "parameters": [
            {
              "name": "ref",
              "in": "path",
              "required": true,
              "schema": {"type": "string"},
              "description": "Référence du classeur (UUID ou slug)"
            }
          ],
          "responses": {
            "200": {
              "description": "Arbre du classeur récupéré",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "classeur": {"$ref": "#/components/schemas/Classeur"},
                              "folders": {
                                "type": "array",
                                "items": {"$ref": "#/components/schemas/Folder"}
                              },
                              "notes": {
                                "type": "array",
                                "items": {"$ref": "#/components/schemas/Note"}
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/classeur/reorder": {
        "put": {
          "operationId": "reorderClasseurs",
          "summary": "Réorganiser les classeurs",
          "description": "Réorganise l'ordre des classeurs de l'utilisateur",
          "tags": ["Classeurs"],
          "security": [{"ApiKeyAuth": []}],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "classeur_orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classeur_id": {"type": "string", "format": "uuid"},
                          "position": {"type": "integer"}
                        },
                        "required": ["classeur_id", "position"]
                      }
                    }
                  },
                  "required": ["classeur_orders"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Classeurs réorganisés avec succès",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {"$ref": "#/components/schemas/Success"},
                      {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {"$ref": "#/components/schemas/Classeur"}
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "ApiKeyAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "X-API-Key",
          "description": "Clé API d'Abrège"
        }
      },
      "schemas": {
        "Success": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": true
            },
            "message": {
              "type": "string",
              "description": "Message de succès optionnel"
            },
            "metadata": {
              "type": "object",
              "properties": {
                "timestamp": {"type": "string", "format": "date-time"},
                "executionTime": {"type": "number"}
              }
            }
          },
          "required": ["success"]
        },
        "Error": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "error": {
              "type": "string",
              "description": "Message d'erreur descriptif"
            },
            "code": {
              "type": "string",
[...]
